.create-button {
    margin-top: 150px;
}

.load-header {
    margin-top: 15px;
}

.main-container {
    text-align: left;
}

.create-new-session-form {
    background-color: #e2e2e2;
    padding: 15px 0px;
}